
body {
    background-color: #fff;
	font-family: NazliRegular;
}
.my-rating {
    font-size: 12px;
	font-family: NazliRegular;
}
.btn-green {
  background-color: green;
  font-family: NazliRegular;
}

.btn.btn-green.btn.sv_complete_btn {
  color: orange;
  background-color: blue;
  border-radius: 20px;
  font-family: NazliRegular;
}
.btn.btn-green.btn.sv_complete_btn:hover {
  color: red;
  background-color: yellow;
  border-radius: 0px;
  font-family: NazliRegular;
}
/* 
.sv_qstn .sq-root {
	border: 1px solid gray;
	border-left: 4px solid #18a689;
	border-radius: 5px;
	padding: 20px;
	margin-bottom: 30px;
	font-family: NazliRegular;
  }
  .sv_qstn .sq-root-cb {
	border-left: 4px solid orange;
	font-family: NazliRegular;
  }
  .sv_qstn2 .sq-root {
	border: 1px solid lightgray;
	border-radius: 5px;
	border-left: 4px solid #18a689;
	font-family: NazliRegular;
  }
  .sv_qstn2 .sq-root-cb {
	border-left: 4px solid orange;
	font-family: NazliRegular;
  }
  .sq-title {
	font-size: 20px;
	margin-left: 20px;
	font-family: NazliRegular;
  }
  .sq-title-required {
	color: red;
	font-family: NazliRegular;
  }
  .sq-label {
	margin-left: 30px;
	font-family: NazliRegular;
  }
  .sq-item:nth-child(1) {
	margin-bottom: 5px;
	font-family: NazliRegular;
  }
   */